<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">搜尋結果</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="col-lg-12">
  <div class="well">*產品比對建立或更新內容三小時後，手機王頁面才會更新</div>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">產品搜尋<i>(guid或是name)</i></div>
    <!-- /.panel-heading -->
    <div class="panel-body">  
      <%= form_tag product_search_path, :method => :post do  %>
        <div class="input-group custom-search-form">
          <%= text_field_tag "keyword", nil , :class => "form-control", :placeholder =>"Search..." %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: "btn btn-default") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">產品列表</div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>sogi_id</th>
              <th>guid</th>
              <th>Name</th>
              <th>產品路徑(電腦)</th>
              <th>產品路徑(手機)</th>
              <th>評測路徑(電腦)</th>
              <th>評測路徑(手機)</th>
              <th>狀態</th>
            </tr>
          </thead>
          <tbody>
          	<% @fet_products.each do |fet_product|%>
	            <tr>
                <td><%= fet_product.product_id %></td>
	              <td><%= fet_product.guid %></td>
	              <td><%= fet_product.name %></td>
	              <td><%= fet_product.product_pc_url %></td>
	              <td><%= fet_product.product_mobi_url%></td>
	              <td><%= fet_product.review_pc_url%></td>
	              <td><%= fet_product.review_mobi_url%></td>
	              <td><%= fet_product.status %></td>
	            </tr>
	          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>